#bttn{
    background-color: transparent;
    margin-left: 162px;
    margin-top: 34.4%;
    height: 58px;
    width: 274px;
    border-radius: 10px;
}
#bttn1{
    background-color: transparent;
    margin-left: 19px;
    margin-top: 34.4%;
    height: 58px;
    width: 274px;
    border-radius: 10px;
}