#head{
    background-color: transparent;
    width: 500px;
    height: 80px;
    margin-top: 250px;
    margin-left: 200px;
}
#header{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #48695c;
}
#text{
    background-color: transparent;
    width: 500px;
    margin-top: 50px;
    margin-left: 200px;
}
#desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #dd7f1e;
}