<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body background="{{ url_for('static', filename='images/login.png')}}" style="background-repeat:no-repeat;background-size: auto;background-position-x: center;background-position-y: 50px;">
    <form type='submit'>
        <input type="text" id="reg" name='id'><br>
        <input type="password" id="reg" name='pass' style="margin-top: 68px;"><br>
        <button id='bttn' type="submit"></button>
    </form>
</body>
</html>