<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body background="{{ url_for('static', filename='images/submit.png')}}" style="background-repeat:no-repeat;background-size: auto;background-position-x: center;background-position-y: 50px;">
    <div id="head">
        <text id="header">{{a}}</text>
    </div>
    <div id="text">
        <text id="desc">{{b}}</text>
    </div>
</body>
</html>